#calendar {
  width: 800px;
  margin: 20px auto;
  overflow: scroll;
  left: 0;
  right: 0;
  bottom: 0;
  border: #92999F 0.5px solid;
}

.fc-sun, .fc-sat {
background-color: #f5f5f5;
}
.fc-widget-header {
  height: 30px;
  .fc-day-header {
    display: table-cell;
    vertical-align: middle;

  }
}
.fc-today {
background-color: #fffccc ;
}
.fs-toolbar {
padding-bottom: 0;
}
.fc-right .fc-button {
background-color: #262626;
color: white;
background-image: none;
border: 0;
}
.fc-time{
display : none;
}
.fc-left {
font-size: 30px;
margin: 20px 0 0 10px;
}
