#event-dialog{
	width:50%;
	margin:10em 20em;
	padding:13px 23px;
	background-color: slategrey;
  z-index:100;
  display: none;
	position: fixed;
	border-radius: 15px;
  
}

.dialog-content{
	margin-top:1em;
}

.button-link{
	color:#00f;
	text-decoration:underline;
}
 
.field {
	border-bottom: dimgrey;
	background-color: slategrey;
}


#modal-overlay{
	z-index:1;
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.75);
}

.dialog {
  transform: translateY(15em);
}