#calendar.fc.fc-unthemed.fc-ltr
  .fc-toolbar.fc-header-toolbar
    .fc-left
      %h2 August.2020
    .fc-right
      %button.fc-today-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right.fc-state-disabled{:disabled => "disabled", :type => "button"} 今日
      .fc-button-group
        %button.fc-prev-button.fc-button.fc-state-default.fc-corner-left{:type => "button"} <
        %button.fc-next-button.fc-button.fc-state-default.fc-corner-right{:type => "button"} >
    .fc-center
      .calendars-name
        = @my_calendar.name
    .fc-clear
  .fc-view-container{:style => ""}
    .fc-view.fc-month-view.fc-basic-view{:style => ""}
      %table
        %thead.fc-head
          %tr
            %td.fc-head-container.fc-widget-header
              .fc-row.fc-widget-header
                %table
                  %thead
                    %tr
                      %th.fc-day-header.fc-widget-header.fc-sun
                        %span SUN
                      %th.fc-day-header.fc-widget-header.fc-mon
                        %span MON
                      %th.fc-day-header.fc-widget-header.fc-tue
                        %span TUE
                      %th.fc-day-header.fc-widget-header.fc-wed
                        %span WED
                      %th.fc-day-header.fc-widget-header.fc-thu
                        %span THR
                      %th.fc-day-header.fc-widget-header.fc-fri
                        %span FRI
                      %th.fc-day-header.fc-widget-header.fc-sat
                        %span SAT
        %tbody.fc-body
          = event.user
          %tr
            %td.fc-widget-content
              .fc-scroller.fc-day-grid-container{:style => "overflow: hidden; height: 560px;"}
                .fc-day-grid.fc-unselectable
                  .fc-row.fc-week.fc-widget-content{:style => "height: 93px;"}
                    .fc-bg
                      %table
                        %tbody
                          %tr
                            %td.fc-day.fc-widget-content.fc-sun.fc-other-month.fc-past{"data-date" => "2020-07-26"}
                            %td.fc-day.fc-widget-content.fc-mon.fc-other-month.fc-past{"data-date" => "2020-07-27"}
                            %td.fc-day.fc-widget-content.fc-tue.fc-other-month.fc-past{"data-date" => "2020-07-28"}
                            %td.fc-day.fc-widget-content.fc-wed.fc-other-month.fc-past{"data-date" => "2020-07-29"}
                            %td.fc-day.fc-widget-content.fc-thu.fc-other-month.fc-past{"data-date" => "2020-07-30"}
                            %td.fc-day.fc-widget-content.fc-fri.fc-other-month.fc-past{"data-date" => "2020-07-31"}
                            %td.fc-day.fc-widget-content.fc-sat.fc-past{"data-date" => "2020-08-01"}
                    .fc-content-skeleton
                      %table
                        %thead
                          %tr
                            %td.fc-day-top.fc-sun.fc-other-month.fc-past{"data-date" => "2020-07-26"}
                              %span.fc-day-number 26
                            %td.fc-day-top.fc-mon.fc-other-month.fc-past{"data-date" => "2020-07-27"}
                              %span.fc-day-number 27
                            %td.fc-day-top.fc-tue.fc-other-month.fc-past{"data-date" => "2020-07-28"}
                              %span.fc-day-number 28
                            %td.fc-day-top.fc-wed.fc-other-month.fc-past{"data-date" => "2020-07-29"}
                              %span.fc-day-number 29
                            %td.fc-day-top.fc-thu.fc-other-month.fc-past{"data-date" => "2020-07-30"}
                              %span.fc-day-number 30
                            %td.fc-day-top.fc-fri.fc-other-month.fc-past{"data-date" => "2020-07-31"}
                              %span.fc-day-number 31
                            %td.fc-day-top.fc-sat.fc-past{"data-date" => "2020-08-01"}
                              %span.fc-day-number 1
                        %tbody
                          %tr
                            %td
                            %td
                            %td
                            %td
                            %td
                            %td
                            %td
                  .fc-row.fc-week.fc-widget-content{:style => "height: 93px;"}
                    .fc-bg
                      %table
                        %tbody
                          %tr
                            %td.fc-day.fc-widget-content.fc-sun.fc-past{"data-date" => "2020-08-02"}
                            %td.fc-day.fc-widget-content.fc-mon.fc-today{"data-date" => "2020-08-03"}
                            %td.fc-day.fc-widget-content.fc-tue.fc-future{"data-date" => "2020-08-04"}
                            %td.fc-day.fc-widget-content.fc-wed.fc-future{"data-date" => "2020-08-05"}
                            %td.fc-day.fc-widget-content.fc-thu.fc-future{"data-date" => "2020-08-06"}
                            %td.fc-day.fc-widget-content.fc-fri.fc-future{"data-date" => "2020-08-07"}
                            %td.fc-day.fc-widget-content.fc-sat.fc-future{"data-date" => "2020-08-08"}
                    .fc-content-skeleton
                      %table
                        %thead
                          %tr
                            %td.fc-day-top.fc-sun.fc-past{"data-date" => "2020-08-02"}
                              %span.fc-day-number 2
                            %td.fc-day-top.fc-mon.fc-today{"data-date" => "2020-08-03"}
                              %span.fc-day-number 3
                            %td.fc-day-top.fc-tue.fc-future{"data-date" => "2020-08-04"}
                              %span.fc-day-number 4
                            %td.fc-day-top.fc-wed.fc-future{"data-date" => "2020-08-05"}
                              %span.fc-day-number 5
                            %td.fc-day-top.fc-thu.fc-future{"data-date" => "2020-08-06"}
                              %span.fc-day-number 6
                            %td.fc-day-top.fc-fri.fc-future{"data-date" => "2020-08-07"}
                              %span.fc-day-number 7
                            %td.fc-day-top.fc-sat.fc-future{"data-date" => "2020-08-08"}
                              %span.fc-day-number 8
                        %tbody
                          %tr
                            %td
                            %td
                            %td
                            %td
                            %td
                            %td
                            %td
                  .fc-row.fc-week.fc-widget-content{:style => "height: 93px;"}
                    .fc-bg
                      %table
                        %tbody
                          %tr
                            %td.fc-day.fc-widget-content.fc-sun.fc-future{"data-date" => "2020-08-09"}
                            %td.fc-day.fc-widget-content.fc-mon.fc-future{"data-date" => "2020-08-10"}
                            %td.fc-day.fc-widget-content.fc-tue.fc-future{"data-date" => "2020-08-11"}
                            %td.fc-day.fc-widget-content.fc-wed.fc-future{"data-date" => "2020-08-12"}
                            %td.fc-day.fc-widget-content.fc-thu.fc-future{"data-date" => "2020-08-13"}
                            %td.fc-day.fc-widget-content.fc-fri.fc-future{"data-date" => "2020-08-14"}
                            %td.fc-day.fc-widget-content.fc-sat.fc-future{"data-date" => "2020-08-15"}
                    .fc-content-skeleton
                      %table
                        %thead
                          %tr
                            %td.fc-day-top.fc-sun.fc-future{"data-date" => "2020-08-09"}
                              %span.fc-day-number 9
                            %td.fc-day-top.fc-mon.fc-future{"data-date" => "2020-08-10"}
                              %span.fc-day-number 10
                            %td.fc-day-top.fc-tue.fc-future{"data-date" => "2020-08-11"}
                              %span.fc-day-number 11
                            %td.fc-day-top.fc-wed.fc-future{"data-date" => "2020-08-12"}
                              %span.fc-day-number 12
                            %td.fc-day-top.fc-thu.fc-future{"data-date" => "2020-08-13"}
                              %span.fc-day-number 13
                            %td.fc-day-top.fc-fri.fc-future{"data-date" => "2020-08-14"}
                              %span.fc-day-number 14
                            %td.fc-day-top.fc-sat.fc-future{"data-date" => "2020-08-15"}
                              %span.fc-day-number 15
                        %tbody
                          %tr
                            %td
                            %td
                            %td
                            %td
                            %td
                            %td
                            %td
                  .fc-row.fc-week.fc-widget-content{:style => "height: 93px;"}
                    .fc-bg
                      %table
                        %tbody
                          %tr
                            %td.fc-day.fc-widget-content.fc-sun.fc-future{"data-date" => "2020-08-16"}
                            %td.fc-day.fc-widget-content.fc-mon.fc-future{"data-date" => "2020-08-17"}
                            %td.fc-day.fc-widget-content.fc-tue.fc-future{"data-date" => "2020-08-18"}
                            %td.fc-day.fc-widget-content.fc-wed.fc-future{"data-date" => "2020-08-19"}
                            %td.fc-day.fc-widget-content.fc-thu.fc-future{"data-date" => "2020-08-20"}
                            %td.fc-day.fc-widget-content.fc-fri.fc-future{"data-date" => "2020-08-21"}
                            %td.fc-day.fc-widget-content.fc-sat.fc-future{"data-date" => "2020-08-22"}
                    .fc-content-skeleton
                      %table
                        %thead
                          %tr
                            %td.fc-day-top.fc-sun.fc-future{"data-date" => "2020-08-16"}
                              %span.fc-day-number 16
                            %td.fc-day-top.fc-mon.fc-future{"data-date" => "2020-08-17"}
                              %span.fc-day-number 17
                            %td.fc-day-top.fc-tue.fc-future{"data-date" => "2020-08-18"}
                              %span.fc-day-number 18
                            %td.fc-day-top.fc-wed.fc-future{"data-date" => "2020-08-19"}
                              %span.fc-day-number 19
                            %td.fc-day-top.fc-thu.fc-future{"data-date" => "2020-08-20"}
                              %span.fc-day-number 20
                            %td.fc-day-top.fc-fri.fc-future{"data-date" => "2020-08-21"}
                              %span.fc-day-number 21
                            %td.fc-day-top.fc-sat.fc-future{"data-date" => "2020-08-22"}
                              %span.fc-day-number 22
                        %tbody
                          %tr
                            %td
                            %td
                            %td
                            %td
                            %td
                            %td
                            %td
                  .fc-row.fc-week.fc-widget-content{:style => "height: 93px;"}
                    .fc-bg
                      %table
                        %tbody
                          %tr
                            %td.fc-day.fc-widget-content.fc-sun.fc-future{"data-date" => "2020-08-23"}
                            %td.fc-day.fc-widget-content.fc-mon.fc-future{"data-date" => "2020-08-24"}
                            %td.fc-day.fc-widget-content.fc-tue.fc-future{"data-date" => "2020-08-25"}
                            %td.fc-day.fc-widget-content.fc-wed.fc-future{"data-date" => "2020-08-26"}
                            %td.fc-day.fc-widget-content.fc-thu.fc-future{"data-date" => "2020-08-27"}
                            %td.fc-day.fc-widget-content.fc-fri.fc-future{"data-date" => "2020-08-28"}
                            %td.fc-day.fc-widget-content.fc-sat.fc-future{"data-date" => "2020-08-29"}
                    .fc-content-skeleton
                      %table
                        %thead
                          %tr
                            %td.fc-day-top.fc-sun.fc-future{"data-date" => "2020-08-23"}
                              %span.fc-day-number 23
                            %td.fc-day-top.fc-mon.fc-future{"data-date" => "2020-08-24"}
                              %span.fc-day-number 24
                            %td.fc-day-top.fc-tue.fc-future{"data-date" => "2020-08-25"}
                              %span.fc-day-number 25
                            %td.fc-day-top.fc-wed.fc-future{"data-date" => "2020-08-26"}
                              %span.fc-day-number 26
                            %td.fc-day-top.fc-thu.fc-future{"data-date" => "2020-08-27"}
                              %span.fc-day-number 27
                            %td.fc-day-top.fc-fri.fc-future{"data-date" => "2020-08-28"}
                              %span.fc-day-number 28
                            %td.fc-day-top.fc-sat.fc-future{"data-date" => "2020-08-29"}
                              %span.fc-day-number 29
                        %tbody
                          %tr
                            %td
                            %td
                            %td
                            %td
                            %td
                            %td
                            %td
                  .fc-row.fc-week.fc-widget-content{:style => "height: 95px;"}
                    .fc-bg
                      %table
                        %tbody
                          %tr
                            %td.fc-day.fc-widget-content.fc-sun.fc-future{"data-date" => "2020-08-30"}
                            %td.fc-day.fc-widget-content.fc-mon.fc-future{"data-date" => "2020-08-31"}
                            %td.fc-day.fc-widget-content.fc-tue.fc-other-month.fc-future{"data-date" => "2020-09-01"}
                            %td.fc-day.fc-widget-content.fc-wed.fc-other-month.fc-future{"data-date" => "2020-09-02"}
                            %td.fc-day.fc-widget-content.fc-thu.fc-other-month.fc-future{"data-date" => "2020-09-03"}
                            %td.fc-day.fc-widget-content.fc-fri.fc-other-month.fc-future{"data-date" => "2020-09-04"}
                            %td.fc-day.fc-widget-content.fc-sat.fc-other-month.fc-future{"data-date" => "2020-09-05"}
                    .fc-content-skeleton
                      %table
                        %thead
                          %tr
                            %td.fc-day-top.fc-sun.fc-future{"data-date" => "2020-08-30"}
                              %span.fc-day-number 30
                            %td.fc-day-top.fc-mon.fc-future{"data-date" => "2020-08-31"}
                              %span.fc-day-number 31
                            %td.fc-day-top.fc-tue.fc-other-month.fc-future{"data-date" => "2020-09-01"}
                              %span.fc-day-number 1
                            %td.fc-day-top.fc-wed.fc-other-month.fc-future{"data-date" => "2020-09-02"}
                              %span.fc-day-number 2
                            %td.fc-day-top.fc-thu.fc-other-month.fc-future{"data-date" => "2020-09-03"}
                              %span.fc-day-number 3
                            %td.fc-day-top.fc-fri.fc-other-month.fc-future{"data-date" => "2020-09-04"}
                              %span.fc-day-number 4
                            %td.fc-day-top.fc-sat.fc-other-month.fc-future{"data-date" => "2020-09-05"}
                              %span.fc-day-number 5
                        %tbody
                          %tr
                            %td
                            %td
                            %td
                            %td
                            %td
                            %td
                            %td