.Side-bar
  .Item
    %head
      .Item__btn
        .item-title
          %a{data: {toggle: "collapse"}, 
                    href:"#Item-list",
                    role:"button", 
                    aria: {expanded:"false"}, 
                    aria:{controls:"collapseExample"}}
            = icon('fas', "bars",class: 'bar btn')
    %body
      #Item-list.collapse.navbar-collapse
        .menu-bar
          .top
            .icon-list
              = link_to edit_user_path(current_user), class: "icons" do
                = icon('fas', "cog", class: 'edit')
          %ul.menu
            %li.menu__calendar-name
              dog
            %li.menu__calendar-name
              child
      %script{crossorigin: "anonymous", integrity: "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", src: "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"}
      %script{crossorigin: "anonymous", integrity: "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", src: "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"}

