* {
  box-sizing: border-box;
}
 @import "events/calendar";
 @import "events/dialog";
 @import "events/new_event";
 
.wrapper {
  display: flex;
  z-index: 3;
}
.btn:hover{
  text-decoration: none;
}

a:hover {
  color: #666;
  background-color: white;
}

.sidebar-toggle {
  position: fixed;
  width: 4em;
  height: 60px;
  border: none;
  margin-left:20em;
  cursor: pointer;
  transition: .5s;
  padding-left: 5px;
  border-radius: 0 25px 0 0;
  position: absolute;
  &.is-closed {
    transform: translateX(.3em) rotate(0deg);  
  }
  
  .icon {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
  }
}
.slide {
  margin-left: -20em;
  width: 20em;
  height: 100vh;
  transition: .7s;
  position: absolute;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .3);
  box-sizing: border-box;
  &.is-closed {
    transform: translateX(15em);
  }
}

.contents{
  &__box {
    padding: 1em 5em ;
    font-size: 17px;
    font-family: "Athelas";
    border-bottom: white 1px solid;
    display: flex;
      .calendar-name {
        padding-top: 0.5em;
        color: white;
      }
      .calendar-users {
        padding-top: 0.5em;
        color: white;
      }
      .user-name {
        padding-top: 0.5em;
        color: white;
      }
      .edit {
        font-size: 18px;
        margin-left: 10px;
        color: white;
        margin-top: 10px;
        &__hover {
          text-decoration: none;
        }
      }
      .edit-icon {
        font-size: 13px;
        margin-left: 5px;
        margin-top: 10px;
        color: white;
      }
  }
  .create-calendar {
    .add-calendar {
      padding-left: 6.5em;
      position: absolute;
      color: ghostwhite;
    }
    
  }
}

#user{
  background-color: #31315c;
}
#User-bar {
  background-color: #31315c;
  z-index: 10;
}

#my{
  background-color: #930056;
}

#My-bar {
  background-color: #930056;
  z-index: 9;
  margin-top: 63px;
}

#Share-bar {
  background-color: #d2b62e;
  z-index: 7;
  margin-top: 128px;
}

#share {
  background-color: #d2b62e;
}

.add-calendar {
  color: darkgray;
  padding: 1em 5em;
}

.name {
  font-size: 15px;
  position: fixed;
  top: 4.5em;
  left:25em;
  width: 5em;
  height: 5em;
  border: none;
}